@font-face {
    font-family: 'roboto';
    src: url(./Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    letter-spacing: .05em;
}

body {
    display: grid;
    grid-template: 1fr 5fr/ 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-row: span 2;
    display: grid;
    gap: 1rem;
    align-items: start;
    align-content: start;
    background-color: #0284c7;
    color: white;
}

.sidebar .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.sidebar .wrapper img {
    height: 4rem;
}

.sidebar ul {
    list-style: none;
    display: grid;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: 600;
}

.sidebar ul img {
    font-size: 0rem;
    height: 2rem;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header {
    display: grid;
    grid-template: 2fr 3fr/ 3fr 2fr;
}

header .search-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    padding-left: 5rem;
}

header input {
    flex: 1;
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid #dde4ec;
    background-color: #dde4ec;
    border-radius: 1.5rem;
    max-width: 1000px;
}

header img:first-child {
    font-size: 0rem;
    height: 2rem;
}

header img:nth-child(2) {
    height: 3.5rem;
    border-radius: 50%;
}

header .profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    padding: 1rem;
    padding-right: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

header .greeting-wrapper {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    padding-left: 5rem;
    font-weight: 600;
}

header .greeting-wrapper img {
    height: 5.5rem;
    border-radius: 50%;
}

header .greeting-text {
    display: grid;
    gap: .5rem;
}

header .greeting-text > :last-child {
    font-size: 1.75rem;
    text-wrap: nowrap;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    padding-right: 4rem;
}

header ul li {
    background-color: #0284c7;
    color: white;
    padding: .75rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

main {
    padding: 2rem;
    background-color: #dde4ec;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 1.5rem;
}

main .projects-wrapper {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

main .project-cards-wrapper {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
    flex: 1;
}

main .card {
    display: flex;
    flex-direction: column;
    border-left: .75rem solid #ffae00;
    border-radius: .75rem;
    background-color: white;
    padding: 3rem 3rem 2rem 1.5rem;
}

main .card p {
    flex: 3;
    padding-top: .5rem;
    font-size: 1.25rem;
    color: grey;
}

main .card .icons-wrapper {
    flex: 1;
    display: flex;
    gap: 1.5rem;
    justify-content: right;
}

main .card img {
    font-size: 0rem;
    height: 2rem;
    opacity: .8;
}

main .announcements-wrapper ul {
    background-color: white;
    margin-top: 1rem;
    padding: 2.5rem;
    border-radius: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .announcements-wrapper p {
    color: grey;
    margin-top: .25rem;
    font-size: .9rem;
}

main .trending-wrapper ul {
    background-color: white;
    margin-top: 1rem;
    padding: 2.5rem;
    border-radius: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .trending-wrapper li {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

main .trending-wrapper p:nth-child(2) {
    font-size: 1.1rem;
}

main .trending-wrapper p:last-child {
    color: grey;
}

main .trending-wrapper img {
    height: 3.5rem;
    border-radius: 50%;
    grid-row: span 2;
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
    font-size: .8rem;
    color: black;
}